<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>description</key>
	<string>RubyBlue Theme for TextMate 2.</string>
	<key>name</key>
	<string>RubyBlue</string>
	<key>uuid</key>
	<string>336D6241-0892-4F56-88C8-8A273C591A63</string>
</dict>
</plist>
